
.column-header {
    -fx-size: 5;
}

.tab-label {
    -fx-font-size: 10;
}

.scroll-pane:focused, .table-view:focused, .scroll-pane, .table-view {
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}